# SPDX-FileCopyrightText: OpenTalk GmbH <mail@opentalk.eu>
#
# SPDX-License-Identifier: EUPL-1.2

[submodule "etherpad-lite"]
	path = etherpad-lite
	url = https://github.com/ether/etherpad-lite.git
	branch = 1.8.18

